<head>
	<h1>This is the Model's index page.</h1>
</head>
	<style> 
        #UND { 
            text-decoration: none; 
        }
		div.big {
			line-height: 2.5;
		}
    </style>
<body>
	<div>
		<p hidden><%= computer = "/forums/computer" %> </p>
	</div>
	<div class="big">
		<a id = "UND" href= <%=computer%>>Computer</a>
  </div>
</body>

