
<style> 
        #inline { 
            display:inline-block; 
        }
</style>
<a href = "/forums/computer/new">Post How To</a>
<% @guide.each do |guide| %>
	<div>
		<p id = "inline">How To |</p>
		<a id = "inline" href= "/forums/computer/<%= guide.id %>"><p><%= guide.title %></p></a>
		<% if current_user == guide.user%>
      <a href= "/forums/computer/<%= guide.id %>/edit">Edit</a>
      <% end %>
	</div>
<% end %>



