
<style> 
    #inline { 
        display:inline-block; 
    }
    .body {
        background-color: #ffffff;
    }
    .div{
        font-size: 2.0rem;
    }
</style>
<body class = "body">
<div class = "div">
<a href = "/forums/computer/new">Post How To</a>
</div>
<br/>
<% @guide.each do |guide| %>
	<div>
		<p id = "inline">How To |</p>
		<a id = "inline" href= "/forums/computer/<%= guide.id %>"><p><%= guide.title %></p></a>
		<% if current_user == guide.user%>
      <a href= "/forums/computer/<%= guide.id %>/edit">Edit</a>
      <% end %>
	</div>
<% end %>
</div>
</body>


