<!DOCTYPE html>

<style>
  .input{
    border-width: 1px;
    border-style: solid;
    border-radius: 8px;
    width: 40%;
    padding: 6px;
    color: #161717;
  }
  .submit{
    min-width: 120px;
    cursor: pointer;
    border-radius: 17px;
    height: 34px;
    color: #fff;
    background: #55d0ff;
    border: none;
    font-size: 16px;
  }

  .body {
			background-color: #ffffff;
        }
</style>
<body class = "body">
<p><%= @error %></p>
<p>
<form action="/login" method="POST"><br/>
  <div>Username</div>
  <dd>
  <input class = "input" type = "text" name = "username" maxlength = "50">
  </dd>
  <br/>
  <br/>
  <div>Password:</div>
  <input class = "input" type = "text" name = "password">
  <br/>
  <br/>
  <input class = "submit"  type = "submit" value = "Login">
</form>
</body>
