<html>
  <head>
    <title>Post Issue</title>
  </head>
  <body>
    <form action="/forums/motherboard" method="POST">
      <input  type="text" name="title" placeholder = "What is your question?"> 
      <br/>
      <textarea name = "comment" rows = "5" cols = "50" placeholder = "Describe your issue"></textarea> 
      <input type = "submit" value="Post">
    </form>
  </body>
</html>