<head>
	<h1>This is the Model's index page.</h1>
</head>
<body>
	<div>
		<div><a href="/categories/motherboard">MotherBoard</a></div>
		<div><a href="/categories/cpu">CPU</a></div>
		<div><a href="/categories/memory">Memory</a></div>
		<div><a href="/categories/storage">Storage</a></div>
		<div><a href="/categories/graphics_card">Graphics Card</a></div>
  	</div>
</body>

