
<style> 
    #inline { 
        display:inline-block; 
    }

    .body {
	    background-color: #ffffff;
    }
    .div{
        font-size: 2.0rem;
    }
</style>
<body class = " body">
<h2>Welcome!</h2>
<h3>You can now post new threads. Please be mindful of what you post.</h3>
</body>