<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<style>
  .bar{
  margin-left: auto;
  text-align: right;
  align-items: center;
  padding-right: 10px;
  padding-top: 10px;
  font-size: 2.0rem;
  text-decoration: none;
}
.barlink{
  padding: 15px;
}
.user{
  align-items: center;
  text-align: center;
  font-size: 2.0rem;
}
.logout{
  margin-left: auto;
  text-align: right;
  align-items: center;
  padding-top: 8px;
  padding-right: 8px;
  font-size: 2.0rem;
  text-decoration: none;
}
#UND { 
      text-decoration: none; 
    }
</style>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />

    <title>TechForum</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/main.css" />
  </head>
  <body>
  <div>
    <% if logged_in? %>
      <ul class = "bar">
        <a  id = "UND" href="/logout">Log Out</a>
      </ul>
      <ul class = "user" >
        <a ID = "UND" href="/home">Home</a>
        <a ID = "UND" href="/forums">Forums</a>
      </ul>
    <% else %>
    <ul class = "bar">
      <a class = "barlink" id = "UND" href="/login">Log in</a>
     <a id = "UND"  href="/register">Register</a> 
      </ul>
    <% end %> 
  </div>
    <div class="wrapper">

        <%= yield %>

      <footer class="branding">
        <small>&copy; 2020 <strong>TechForum</strong></small>
      </footer>
    </div>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <!--[if lt IE 7]>
      <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.2/CFInstall.min.js"></script>
      <script>window.attachEvent("onload",function(){CFInstall.check({mode:"overlay"})})</script>
    <![endif]-->
  </body>
</html>
