<style>
  .body {
		background-color: #ffffff;
  }
  .div{
    font-size: 2.0rem;
  }
</style>
<body class = "body">
<div >
  <header><img src="images/computer.png" class="img-responsive main-image"></header>
  
    <h2>Welcome to Tech_Forums</h2>

    <div class="content">
      <p>Tech_Forums is where you post threads on guides on computers.</p>
      <p>To access the forums page you must create an account or log in.</p>
    </div>


</div>
</body>